<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="login">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="FileRepository">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="login" name="Distributor.Service.Src.Service.LoginService">
        <endpoint binding="netTcpBinding" contract="Distributor.Service.Src.Contract.ILogin" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1234/login" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="login" name="Distributor.Service.Src.Service.FileRepositoryService">
        <endpoint binding="netTcpBinding" 
                  address="net.tcp://localhost:1234/FileRepository"
                  contract="Distributor.Service.Src.Contract.IFileRepositoryService"
                  bindingConfiguration="customTcpBinding"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="customTcpBinding" transferMode="Streamed" maxReceivedMessageSize="100000000" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>

