<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="LoginService" address="net.tcp://localhost:1234/login" 
                binding="netTcpBinding" contract="Distributor.Service.Src.Contract.ILogin"/>
      <endpoint name="FileRepositoryService" binding="netTcpBinding" 
                address="net.tcp://localhost:1234/FileRepository" contract="Distributor.Service.Src.Contract.IFileRepositoryService" bindingConfiguration="customTcpBinding"/>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="customTcpBinding" maxReceivedMessageSize="100000000" transferMode="Streamed"/>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
